boto==2.40.0
dj-database-url==0.4.1
Django
django-extensions==1.6.7
django-storages==1.4.1
django-taggit==0.18.3
django-taggit-machinetags==0.6.0
djangorestframework==3.3.3
gunicorn==19.5.0
psycopg2==2.6.1
whitenoise==3.0
